nav{
    display: flex;
    justify-content: left;
    background:white;
    color: #ff4d4f;
  }
  
.nav-header{
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: left;
    list-style: none;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .nav-links{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 15px;
  }

  .avatar-item {
    margin-right: 24px;
  }
  
  [class*='-col-rtl'] .avatar-item {
    margin-right: 0;
    margin-left: 24px;
  }